
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px;

}

.section-m1 {
    width: 100%;
}

body {
    width: 100%;
}

.logo {
    height: 60px;
    width: auto;
}
.store {
    height: 50px;
    width: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #1a2c36;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
}

#navbar li a:link,
#navbar li  a:visited {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ebcd99;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #d4a05b;
    border-bottom: 2px solid rgb(212, 160, 91);
}

#mobile {
    display: none;
    align-items: center;

}

#close {
    display: none;
}


#hero {
    background-image: url('./img/hero.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: #cc8f26;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #cc8f26;
    color: #fff;
    border: 1px solid #cc8f26;
    margin-right: 25px;
    margin-bottom: 15px;
}

.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #cc8f26;
    color: #cc8f26;
    font-weight: 600;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #be7f12;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #be7f12;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #be7f12
}

#product1 {
    text-align: center;
    padding: 20px 80px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description i {
    font-size: 12px;
    color: goldenrod;
}

#product1 .pro .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:  #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
} 

#sm-banner {
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("img/people2.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url("img/people7.jpg");
}

#sm-banner button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    
}

#testimonials {
    text-align: center;
    padding: 40px 80px;
    
}

#testimonials .rev-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#testimonials h2 {
    margin-bottom: 20px;
    
}

#vid {
    width: auto;
    height: 350px;
}

#testimonials .star {
    font-size: 12px;
    color: goldenrod;
}

#testimonials .rev {
    position: relative;
}

#testimonials .rev .description {
    text-align: left;
}

#testimonials .rev .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1a2c36;

}

#newsletter .newstext {
    margin: 0 80px;
}

#newsletter .form {
    margin: 0 40px;
    width: 40%;
    display: flex;
    

}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #cc8f26;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-weight: 700;
}

#newsletter button {
    
    background-color: #cc8f26;
    border-color: #cc8f26;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;  
    transition: 0.2s;  

}

#newsletter button:hover,
#newsletter button:active {
    background-color: #be7f12;
    border-color: #be7f12;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #d9dddc;
}

footer .logo {
    border-radius: 7px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    margin-top: 30px;
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #be7f12;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Rings page */

#page-header {
    background-image: url('./img/ring-wallpaper.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align:end;
    flex-direction: column;
    background-position: top 70% right 60%;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
    margin-right: 40px;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #cc8f26;
    padding: 10px 17px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: inline-flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 16px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #cc8f26;
    border-color: #cc8f26;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;  
    transition: 0.2s;  
}

#prodetails .single-pro-details button:hover,
#prodetails .single-pro-details button:active {
    background-color: #be7f12;
    border-color: #be7f12;
}

#prodetails .single-pro-details span {
    line-height: 5px;
}

/* Blog Page */

#page-header.blog-header {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url("./img/blog-wallpaper.jpg");
    background-position: top 45% right 60%;
    text-align: center;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -60px;
    transition: 0.3s;
}

#blog .blog-details a:hover {
    color: #cc8f26;

}

#blog .blog-details a:hover::after {
    background-color: #cc8f26;
}

#blog .blog-box h1 {
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 800;
    color: #c9cbce;
    z-index: -9;
}

/* Contact Page */

#page-header.contact-header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('./img/contact-wallpaper.jpg');
    text-align: center;

}

#contact-details {
    display: flex;
    align-items: centre;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 60px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details button {
    
    background-color: #cc8f26;
    border-color: #cc8f26;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;  
    transition: 0.2s;  
    color: white;

}

#form-details button:hover,
#form-details button:active {
    background-color: #be7f12;
    border-color: #be7f12;
}


@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #1a2c36;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    
    }
    
    #mobile i {
        color: #ebcd99;
        font-size: 20px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        color: #ebcd99;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 50% right 55%;
    }

    #product1 .pro-container {
        
        justify-content: space-around;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
        margin-bottom: 20px;
    }


    #testimonials .rev-container {
        flex-wrap:nowrap;
    }

    #vid {
        height: 260px;
    }

    #newsletter .form {
        margin: 0 80px;
        width: 60%;

    }

    /* Blog Page */

    #blog .blog-box h1 {
        top: -18px;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-image: url('./img/hero-mobile.avif'); 
    }

    h2 {
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }

    h1 {
        font-size: 44px;
    }

    #product1 .pro {
        width: 100%;
    
    }
    #sm-banner {
        margin: 10px 10px;
        
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    .section-p1 {
        padding: 20px;
    }

    #vid {
        height: 300px;
    }

    #testimonials .rev-container {
        flex-wrap:wrap;
        justify-content: space-around;
    }

    #testimonials .rev {
        margin-bottom: 10px;
    }

    #testimonials {
        padding: 20px 20px;
    }

    #newsletter .newstext {
        margin: 0 25px;
    }

    #newsletter .form {
        margin: 0 25px;
        width: 85%;
    }

    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog Page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-box h1 {
        top: -50px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* Contact Page */

    #form-details {
        padding: 5px;        
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

}








